<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="JugaPlatform"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.JugaPlatform">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.juga.platform.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.ResultsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.GameActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.LevelSelectActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.TitleActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
